* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-outer {
    width: 50%;
    height: 80%;
    border-radius: 20px;
    border: 6px solid rgb(93, 93, 93);
    background-color: rgb(93, 93, 93);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.close {
    width: 100%;
    height: 20px;
    background-color: olive;
    overflow: hidden;
}

.upper {
    height: 35%;
    width: 100%;
    /* background-color: rgb(120, 127, 127); */
    display: flex;
    justify-content: center;
    align-items: end;
}

.upper-display {
    padding: 1rem;
    height: 60%;
    width: 90%;
    /* background-color: rgb(121, 99, 184); */
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.upper-display input {
    height: 47%;
    width: 100%;
    backdrop-filter: blur(9px);
    background: transparent;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 20px;

    text-align: right;    /* Typed text starts from left */
    direction: rtl;      /* Left-to-right typing */
    font-size: 24px;
    color: white;
    outline: none;
}

.upper-display input::placeholder {
    text-align: right;
    color: rgb(180, 180, 180);
}


.lower {
    height: 65%;
    width: 100%;
    /* background-color: darkcyan; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-buttons {
    padding: 1rem;
    height: 80%;
    width: 90%;
    border-radius: 20px;
    /* background-color: cadetblue; */
    display: grid;
    grid-template-rows: 85px 85px 85px 85px;
    grid-template-columns: 145px 145px 145px 145px 145px;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
}

#decimal {
    font-size: 2rem;
}


#back {
    background-color: rgb(119, 30, 6);
}

#clear {
    background-color: rgb(229, 50, 0);
}

.close {
    background: transparent;
}


.clo {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: red;
    margin-left: 1rem;
}

.up-but {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}